<!DOCTYPE html>
<html>
<head>
    <title>Status Update</title>
</head>
<body>
    <h1>Status Update</h1>

    <form action="/app_up" method="POST">

    <label for="select_applicant">Select Applicant:</label>
    <select id="select_applicant" name="select_applicant">
        {% for job_app in job_apps %}
            <option value="{{ job_app.id }}">{{ job_app.full_name }}</option>
        {% endfor %}
    </select>
   <br><br>

    <label for="status">Select Status:</label>
    <select id="status" name="status">
        <option value="">Select a status</option>
        <option value="Selected">Selected</option>
        <option value="Rejected">Rejected</option>
        <option value="Joined">Joined</option>
    </select>
    <br><br>

    <label for="remark">Remark for Applicant:</label><br>
    <textarea id="remark" name="remark" rows="5" required></textarea><br><br>

    <input type="submit" value="Submit">

</body>
</html>
