<!DOCTYPE html>
<html>
<head>
    <title>Assignment</title>
</head>
<body>
    <h1>Assignment</h1>

<form method="POST" action="/job_assign">
  <label for="post_job">Select Vacancy:</label>
  <select id="post_job" name="post_job">
    <!-- Loop through post jobs -->
    {% for job in post_jobs %}
      <option value="{{ job.id }}">{{ job.name }}</option>
    {% endfor %}
  </select>
  <br><br>
  <label for="recruiter">Select Recruiter:</label>
  <select id="recruiter" name="recruiter">
    <!-- Loop through recruiters -->
    {% for rec in recruiters %}
      <option value="{{ rec.id }}">{{ rec.first_name }} {{ rec.last_name }}</option>
    {% endfor %}
  </select>
  <br><br>
  <button type="submit">Assign</button>
</form>

</body>
</html>
