<!DOCTYPE html>
<html>
<head>
    <title>Job Vacancy Form</title>
</head>
<body>
    <h1>Job Vacancy Form</h1>

    <form action="/post_job" method="POST">
    <label for="position">Vacancy Position:</label><br>
    {% for vacancy in vacancies %}
        <input type="radio" id="{{ vacancy.id }}" name="vacancy_id" value="{{ vacancy.id }}">
        <label for="{{ vacancy.id }}">{{ vacancy.position }}</label><br>
    {% endfor %}
    <br>
        <label for="num_vacancies">Number of Vacancies:</label><br>
        <input type="number" id="num_vacancies" name="num_vacancies" min="1" required><br><br>

        <label for="requirements">Requirements:</label><br>
        <textarea id="requirements" name="requirements" rows="4" cols="50" required></textarea><br><br>

        <label for="experience">Experience (in years):</label><br>
        <input type="number" id="experience" name="experience" min="0" required><br><br>

        <label for="salary">Salary:</label><br>
        <input type="number" id="salary" name="salary" min="0" required><br><br>

        <label for="contact_email">Contact Email:</label><br>
        <input type="email" id="contact_email" name="contact_email" required><br><br>

        <input type="submit" value="Post Job">
    </form>
</body>
</html>
