<!DOCTYPE html>
<html>
<head>
    <title>Recruiter Login</title>
</head>
<body>
    <h1>Recruiter Login</h1>
    <form action="/recruiter/login" method="POST">
        <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Log In">
    </form>
</body>
</html>
